[submodule "references/theographic-bible-metadata"]
	path = references/theographic-bible-metadata
	url = https://github.com/timothyhartzog/theographic-bible-metadata
[submodule "references/theographic-web"]
	path = references/theographic-web
	url = https://github.com/timothyhartzog/theographic-web
[submodule "references/awesome-bible-dev-resources"]
	path = references/awesome-bible-dev-resources
	url = https://github.com/timothyhartzog/awesome-bible-developer-resources
[submodule "lexicons/greek/greek-resources-repo"]
	path = lexicons/greek/greek-resources-repo
	url = https://github.com/timothyhartzog/GreekResources
[submodule "lexicons/hebrew/hebrew-lexicon"]
	path = lexicons/hebrew/hebrew-lexicon
	url = https://github.com/timothyhartzog/HebrewLexicon
[submodule "data/stepbible-data"]
	path = data/stepbible-data
	url = https://github.com/timothyhartzog/STEPBible-Data
[submodule "texts/greek-nt/byzantine-majority"]
	path = texts/greek-nt/byzantine-majority
	url = https://github.com/timothyhartzog/byzantine-majority-text
[submodule "texts/greek-nt/greek-nt-resources"]
	path = texts/greek-nt/greek-nt-resources
	url = https://github.com/timothyhartzog/greek-new-testament
[submodule "lexicons/lexica"]
	path = lexicons/lexica
	url = https://github.com/timothyhartzog/lexica
